/* Set a minimum height for the content area to occupy the full height */
.col-md-2 {
    position:relative;
    min-height: 100%;
    display: flex;
    align-items: stretch;
}

/* Style the navigation column */
.nav-column {
    background-color: #f8f9fa;
    flex-basis: 10px; /* Adjust this width as needed */
    padding: 20px;
    position:fixed;
    margin-left:auto;
    margin-right:auto;
}

/* Style the content column */
.col-md-8 {
    /* flex: 1;
    padding-right: 20%; */
    /* display: flex; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    /* float: right;
    flex-direction: column;
    align-items: center; */
}

.armor_fairy_list {
    /* position: fixed; */
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location-col-7 {
    margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
}

#wellSubmit {
    margin-bottom: 2%;
    margin-top: 0;
    margin-left: 35%;
    margin-right: auto;
    padding: 0;
}

body {
    background-image: url('/static/images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1300px rgb(255, 255, 255, 0.7); */
    /* border: 15px dashed rgb(0, 102, 189, 0.5); */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1200px;

}

#layout_headline {
    margin-left: 0%; /* was at 50%, changed to 0 and updated h1 to text-align: center */
}

h1 {
    text-align: center;
    font-family:'Arial', Helvetica, sans-serif;
	font-size: 200%;
    color: rgb(0, 102, 189);
    margin-top: 20px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0px 0 30px 0;
    color: rgb(0, 102, 189);
    max-width: 70%;
}

h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 120%;
    margin-left: 10%;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 250%;
    text-align: center;
    color: #0800ff;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: larger;
    margin-bottom: 0;
}

.row {
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    width: 100%;
    /* border: 2px solid rgba(0, 0, 0, 0.5); */

}

.addison_checkbox input[type=checkbox] {
    width: 70%;
    height: 25px;
    margin-top: 2%;
    margin-left: 15%;
    /* margin-right: 50%; */
}

.row.armor_set {
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-content: stretch;
    /* align-items: center; */
}

.col {
    flex: 50%;
    padding: 10px;
    height: auto;
    width: 100%;
}

table {
    box-shadow: inset 0 0 0 500px rgb(255, 255, 255, 0.7);
    border-collapse: collapse;
    width: 100%;
}

th {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #434343;
    color: #ffffff;
    padding: 0px 0 0 10px;

}

.main_secondary {
    background-color: #7b7b7b;
}

.main_checkbox {
    height: 40px;
    width: 40px;
    margin: 10%;
    margin-left: 25%;
}

.main_body {
    margin-top: 5%;
}

td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 125%;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

img {
    width: 300px;
    height: auto;
  }

.label {
    font-family: Helvetica, Arial, sans-serif;
    margin: 20% 0 0 25%;
    padding: 0 20px 0 0;
}

.items {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
    margin: 0 0 0 25%;
    padding: -15%;
}

label {
    display: inline-block;
    margin-top: 10px;
}

input[type="radio"] {
    display: inline-flex;
    margin-right: 5px;
    margin-left: 5px;
}

input[type="submit"] {
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 5%;
    width: 100px;
    height: auto;
    font-size: 120%;
}

input[type="text"] {
    display: table-cell;
    /* float: right; */
    margin-left: 20%;
    justify-items:flex-start;
}

textarea {
    display: table-cell;
    margin-left: 20%;
    justify-items:flex-start;
}



#temple_boss_checkbox {
    padding-left: 2%;
}

.temple_progress {
    margin-top: 5%;
    width: 55%;
    float: right;
    margin-right: 12%;
}

.progress-bar-img img {
    width: 90px;
    /* height: 90px; */
    margin-top: -187px;
    margin-left: -215px;
    float: left;
}

.col-lg-1 {
    float: left;
    margin-top: 15%;
    margin-left: 15%;
}

.index_temples {
    margin-left:auto;
    margin-right:auto;
    box-shadow: inset 0 0 0 1300px rgb(255, 255, 255, 0.7);
}

.hidden_display {
    display: none;
}

.always_hide {
    display: none;
}

#Shrine_percent_table {
    color:#ffffff;
}

#ShrineSubmit {
    float: right;
    margin: 5px 20px 5px 5px;
    width: auto;
}

#shrineform {
    width: 100%;
}

.shrine_radio_label {
    display: inline-flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 2% 0 0 5px;
}
#shrines-counter{
    color: #000000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 100%;
    justify-content: space-around;
    background-color: #cccccc7d;
    background-image: linear-gradient(to right, rgb(255 255 255 / 20%), rgba(255, 255, 255, 0), rgb(255 255 255 / 20%));
}

#new_chest_container input[type=checkbox] {
    margin-left: 20%;
    
}
#new_chest_container { 
    background-color: #ffffffa8;
}

#addchest {
    display: table;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 2%;
}

#chest_labels {
    display: table-cell;
    width: 150px;
}

#chest_list_labels {
    display: inline-table;
}

#chest_info_p {
    /* display: table-cell; */
    margin:5px;
}

#chest_list_submit {
    float:right;
    margin-bottom: 10%;
    margin-top: 10%;
}

#chestform {
    width:min-content;
    margin-left: -15%;
    margin-right: 0;
    margin-bottom: 5%;
}

.chests-table th {
    color:#FFFFFF;
}

#addchestform {
    margin-left: 0;
    margin-right: 0;
}

.container {
    width:auto;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

* {
    box-sizing: border-box;
  }
  
.container.greatfairies {
    width: auto;
}

.greatfairies input[type="checkbox"] {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

.greatfairy {
    margin-top: 0;
}

.col-sm-1 {
    padding: 0;
}
/*
Custom styles for the checkboxes
.form-check-input.greatfairies {
    Hide the default checkboxes 
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.form-check-label.greatfairies {
    /* Replace these with your desired colors 
    position: relative; /* Add this line to set position to relative 
    padding-left: 30px; /* Add some space for the custom checkbox 
}

.form-check-label.greatfairies::before {
    /* Replace these with your desired colors 
    content: "";
    background-color: #b47736; /* Primary color for checked checkbox 
    border-color: #c53737; /* Border color for checkbox 
    /* Additional styles to enhance the checkbox appearance 
    width: 100%; /* Change to 100% to fill the entire width of the parent 
    height: 100%; /* Change to 100% to fill the entire height of the parent 
    border-radius: 4px; /* Rounded corners 
    position: absolute;
    top: 0;
    left: 0;
}

/* checkmark to be shown in checkbox 
/* It is not be shown when not checked 
.form-check-label.greatfairies::after {
    content: "";
    position: absolute;
    display: none; /* Hide the checkmark by default 
    top: 50%; /* Adjust the vertical position of the checkmark 
    left: 50%; /* Adjust the horizontal position of the checkmark 
    transform: translate(-50%, -50%); /* Center the checkmark 
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 2px;
}

display checkmark when checked
.form-check-input:checked + .form-check-label.greatfairies::after {
    display: block;
}


.greatfairies .form-check-label {
    margin: 0 0 10px 0px;
}
*/

/* #set_piece {
    display:inline-flex;
    text-align: center; 
    padding: 0 0 0 0;
    border: #000000;
    border-style: solid;
    background-color: #01d5ff9c;
    height: 50px;
    width: 100%;
} */

.armor_set_head {
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0;
    background-color: #62ff019c;
    height: auto;
    width: 100%;
}

.armor_upgrade_head {
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0;
    background-color: #e1ff00;
    height: auto;
    width: 100%;
}

.armor_set_piece {
    background-color: #cd06ff73;
    margin-bottom: 0;
}

.armor_set_piece_upgrade1 {
    background-color: #ff060673;
    margin-bottom: 0;
}
.armor_set_piece_upgrade2 {
    background-color: #eaff0673;
    margin-bottom: 0;
}
.armor_set_piece_upgrade3 {
    background-color: #06fff773;
    margin-bottom: 0;
}
.armor_set_piece_upgrade4 {
    background-color: #ff0000d6;
}

#armor_table {
    text-align: center;
}

.armor_upgrade {
    background-color: yellow;
}

.armor_upgrade_items {
    font-size: large;
}

.armor_items {
    text-align: left;
}

.armor_checkbox input[type=checkbox]{
    width: 100px;
    height: 40px;
    margin-top: 5%;
}

.armor_set_name {
    margin: 0;
    padding: 0;
}

.col-sm-12 {
    text-align: center; 
    padding: 0 0 0 0;
    border: #000000;
    border-style: solid;
}

.col-sm-4 {
    text-align: center;
    border: #404040;
    border-width: 2px;
    border-style: solid;
}

/* Updated CSS for the custom "comp-col-7" class */
#points-table {
    width:100%;
}

#table-head-points {
    width: fit-content;
}

.hidden-item {
    visibility: hidden;
}

.comp_checkbox {
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

#compSubmit {
    width: auto;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;    
    /* font-size: 120%; */
}

#comp_white {
    color:white;
    opacity: 0;
}

.form-check-label.BESTDRAGON {
    margin: 0 0 20px 20px;
}

.custom-btn {
    background-color: #999999; /* Change the background color to red */
    color: #FFFFFF; /* Change the text color to white */
    font-size: 18px; /* Change the font size */
    border-radius: 0;
    /* Add any other custom styles as needed */
  }
  
  .BESTDRAGON input[type="checkbox"] {
    visibility: hidden;
} 

/* Custom styles for the checkboxes */
.form-check-input.BESTDRAGON {
    /* Hide the default checkboxes */
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.form-check-label.BESTDRAGON {
    /* Replace these with your desired colors */
    position: relative; /* Add this line to set position to relative */
    padding-left: 30px; /* Add some space for the custom checkbox */
}

.form-check-label.BESTDRAGON::before {
    /* Replace these with your desired colors */
    content: "";
    background-color: #b47736; /* Primary color for checked checkbox */
    border-color: #c53737; /* Border color for checkbox */
    /* Additional styles to enhance the checkbox appearance */
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Add some spacing between the checkbox and label text */
    border-radius: 4px; /* Rounded corners */
    position: absolute;
    top: 50%;
    left: 0;
}

/* checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.form-check-label.BESTDRAGON::after {
    content: "";
    position: absolute;
    display: none; /* Hide the checkmark by default */
    top: 73%;
    left: 7%;
    /* transform: translate(-75%, -15%); */
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 2px;
}

/* display checkmark when checked */
.form-check-input:checked + .form-check-label.BESTDRAGON::after {
    display: block;
}

#koroks_p {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size:larger;
}

#koroks_p2 {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size:medium;
}

#koroks_p3 {
    display: inline-block;
    margin: 0 0 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-variant: none;
    font-size:medium;
}

#koroks-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#addkorok {
    display: table;
    width: 100%;
    margin-left: 10%;
    margin-bottom: 10px;
}

#korok_labels {
    display: table-cell;
    width: 150px;
}

#koroks-counter {
    color: #000000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    justify-content: space-between;
    background-color: #cccccc7d;
    background-image: linear-gradient(to right, rgb(255 255 255 / 20%), rgba(255, 255, 255, 0), rgb(255 255 255 / 20%));
}


#add_enemy{
    margin-left: 25%;
}

#enemies-table {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
}

.e_td {
    margin-right: 2px;
    margin-left: 2px;
}

.add_enemy_textbox{
    float: right;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 1%;
}

.add_enemy_checkbox {
    margin-left: 27%;
}

#add_enemy_submit {
    margin-left: 27%;
}

.add_item_checkbox {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.enemy_radio{
    margin-left: 25%;
}

.col.misc_col {
    width: auto;
}

#miscform {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.add_item_textbox {
    float: right;
    margin-right: 40%;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

span {
    font-family: 'Arial', Helvetica, sans-serif;
    /* color: #514141; */
    font-size: 200%;
    /* margin-left: 50%; */
}

/* .content-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20%;
    padding: 0;
    align-items: center;
}

  #locationform {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  } */
  
  #chasmSubmit {
    margin-right: 10px; /* Add some spacing between the Submit button and the h1 element */
  }
  
  .location-h1 {
    margin: 0;
  }
  
  /* .item-container {
    display: inline-block;
    justify-content: center;
    width: 200%;
  } */
  

#location_th_1 {
    width:30%;
}

#location_th_2 {
    width:70%;
}

/* .location_container {
    display:inline-block;
    justify-content: center;
    width: 200%;
}  */

.location_checkbox {
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
    padding: 0;
}

.location_table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#tower_th_1 {
    width:30%;
}

.tower_container {
    display:inline-block;
    justify-content: left;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
} 

.tower_table {
    width: 100%;
    margin-left:auto;
    margin-right: auto;

}

.tower_checkbox {
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.locations-nav {
    background-color: #404040;
    height: 75px;
    /* width: 75%; */
    margin-left: auto;
    margin-right: auto;
}

.locations-nav-container {
    margin-top: 20%;
}

.locations-nav-home {
    background-color: #404040;
    height: 70px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.location-buttons {
    background-color: transparent;
    border: none;
    padding-top: 1.5%;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: xx-large;
    font-variant: small-caps;
}

#dis_zonai {
    text-align: center;
    background-color: #6a6a6a;
    color: #ffffff;
}

.dis_items {
    text-align: center;
}

#counter {
    color: #000000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 65%;
    justify-content: flex-end;
    background-color: #cccccc7d;
    background-image: linear-gradient(to right, rgb(255 255 255 / 20%), rgba(255, 255, 255, 0), rgb(255 255 255 / 20%));
}

/* .subquests {
    width: 75%;
    margin-left: 13%;
} */
#shrine_th_1 {
    width: 15%;
}

#th_1 {
    width: 30%;
}

#sub_1 {
    width: 20%;
}

.percentage_table td a{
    padding: 8px;
    color:#000000;
}

#fabric_name {
    font-variant: small-caps;
}

.fabrics-table td {
    border: 0px rgba(0, 0, 0, 0);
}

.armorForm {
    justify-content: center;
    margin-top: 5%;
}

#searchcave {
    margin-bottom: 2%;
}

/* For larger screens */
@media (min-width: 992px) {
    /* Customize the brand logo and its style */
    .navbar .navbar-brand {
        margin-top:0px;
    }

    /* Customize the mobile dropdown button */
    .navbar-toggler {
        /* border-color: #000000; */
        color:#00c55f;
        order: 1;
        margin-right: 0; /* You can adjust the margin value if needed */
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-items: center;
    }
    
    
    .navbar {
        position: fixed; /* Fixed position on the left side of the screen */
        top: 0;
        left: 0;
        bottom: 0;
        width: auto; /* Adjust the width as needed */
        align-items: flex-start;
        display:inline-flex;
        flex-direction: column;
        /* background-color: rgb(49, 49, 49); For browsers that do not support gradients */
        background-image: linear-gradient(to right, rgb(49, 49, 49, 1) , rgba(255, 255, 255, 0));
    }
  
    .navbar-nav .nav-link {
        color: #ffffff; /* Your custom link color */
        text-align: left;
        font-size: large;
        font-weight: bold;  
        line-height: 1;
        margin-left: -50%;
    }

    #navbarNav {
        margin-left: 30%;
    }

    .percentage_table {
        /* display:none; */
        position: fixed;
        top: 0;
        right: 0;
        width: 350px; /* Adjust the width as needed */
        background-color: #ffffffa8; /* Optional background color for the table */
        border-collapse: collapse;
    }
    
    .percentage_table th,
    .percentage_table td {
        padding: 8px;
    }

    .percentage_table td {
        padding: 8px;
        color:#000000;
    }

    #percentage_table {
        margin-bottom: 10%;
        /* width: 550px; */
    }
  
    /* Update the width for the items to have four columns in this media query */
    .item-container .comp-col-7 {
      width: calc(25% - 20px); /* Each item takes about 25% width to fit 4 items in a row */
      margin: 0px;
      box-sizing: border-box;
    }

    .item-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;
        flex-direction: column;
        align-content: center;
    }
  
    .comp_table {
      padding: 0;
      margin: 2%;
      width: 200px;
      height: 25vh; /* Adjust this value to control the vertical centering */
    }

    #percentToggle, #fabricToggle, #templeToggle {
        display: none;
    }

    .armor_column {
        display: flex;
        flex-direction: column;
    }

    .row.armor_set {
        display: flex;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
        border: 2px solid rgb(0 0 0 / 0%);
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .col_border {
        border-left: 1px solid black;   /* Left border */
        border-right: 1px solid black; /* Right border */
        /* No border for top and bottom */
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
    }

    .row #table_data {
        width:50%;
    }

    /* #armor_collected {
        width: 40%;
    } */

    .armor_checkbox input[type=checkbox] {
        width: 70%;
        /* height: 24px; */
        margin-top: 5%;
    }

    .armor_set_head {
        justify-content: center;
        padding: 0 0 0 0;
        margin: 0;
        background-color: #62ff019c;
        height: auto;
        /* width: 275%; */
    }

    .armor_set_name {
        margin: 0;
        /* padding: 0; */
        font-size: x-large;
    }

    .armor_set_piece {
        background-color: #cd06ff73;
        margin-bottom: 0;
        display: flex;
        height: 92%;
    }

    .armor_upgrade_items {
        font-size: medium;
        /* padding-left: 5%; */
        /* padding-right: 5%; */
        /* width: 76px; */
    }

    #table_row {
        display: flex;
        /* flex: 1; */
        margin: 0;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #table_head {
        display: flex;
        flex: 1;
        margin: 0;
        padding: 0;
        align-items: center;
        flex-direction: column;
    }

    #table_data {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        /* padding-top: 1%; */
        /* padding-bottom: 1%; */
    }

    #armor_table {
        text-align: center;
        display: flex;
        /* width: 50%; */
        flex-direction: row;
        align-content: space-between;
        align-items: stretch;
    }

    #armor-table {
        margin-bottom: 5%;
    }

    #armor_table_upgrade {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: 50%;
    }

    .upgrade_items_list #table_data {
        display: block;
    }

    /* #armor_pic img {
        width: 100%;
    } */

    #armor_picture img {
        width: 140px;
    }

    #armor-counter {
        color: #000000;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 65%;
        justify-content: flex-end;
        background-color: #cccccc7d;
        background-image: linear-gradient(to right, rgb(255 255 255 / 20%), rgba(255, 255, 255, 0), rgb(255 255 255 / 20%));
    }

    #keyItems {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, rgb(255 255 255 / 20%), rgba(255, 255, 255, 0), rgb(255 255 255 / 0));
    }

    #keyItems img {
        width: 15%;
    }

  }

/* Customize the position of the navbar items on mobile */
@media (min-width: 601px) and (max-width: 991px) {
    .navbar {
        position: static; /* Reset position for mobile */
        width: 150%; /* Reset width for mobile */
        padding-top: 10%;
        /* flex-direction: row; */
        justify-content: center;
        background-color: lightgreen;
        color: #000000;
    }

    /* .navbar-collapse {
        justify-content: center;  Center the items in the dropdown for mobile 
    } */

    /* Remove float and flex-basis properties for smaller screens */
    .col-md-2 {
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }


    /* Update the width for the items to have two columns in this media query */
    .item-container .comp-col-7 {
        width: calc(50% - 20px); /* Adjust the width to fit two columns with some spacing */
        margin: 0px;
        box-sizing: border-box;
    }

    .comp_table {
        padding: 0;
        margin: 2%;
        width: 100%;
        height: 25vh; /* Adjust this value to control the vertical centering */
    }

    .percentage_table {
        position: relative;
        margin-left: 500%;
        margin-right:auto;
        margin-top: 50%;
        width: max-content; /* Adjust the width as needed */
        background-color: #ffffff; /* Optional background color for the table */
        border-collapse: collapse;
    }
    
    .percentage_table th,
    .percentage_table td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    #percentage_table {
        margin-bottom: 10%;
        width: 550px;
    }

    #percentToggle, #fabricToggle, #templeToggle {
        display: none;
    }
  
    }



@media (max-width: 600px) {
    .col-md-8 {
        /* display: flex; */
        /* justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50%;
    }
    h2 {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        margin: 0px 0 30px 0;
        color: rgb(0, 102, 189);
        /* max-width: 70%; */
    }

    .navbar-collapse {
        order: 2;
    }

    .navbar-toggler {
        margin-left: 0%;
        color:#247681
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-items: center;
    }
    
    .navbar {
        position: relative; /* Reset position for mobile */
        width: 150%; /* Reset width for mobile */
        padding-top: 10%;
        /* flex-direction: row; */
        justify-content: center;
        color: #000000;
    }

    .navbar-nav .nav-link {
        color: #000000; /* Your custom link color */
        text-align: center;
        font-size: large;
        font-weight: bold;  
        line-height: 1;
        /* margin-left: -50%; */

    }

    .percentage_table {
        position: relative;
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
    }
    
    .percentage_table th,
    .percentage_table td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    #percentage_table {
        margin-bottom: 10%;
        width: 550px;
    }

    body {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.063), rgb(148, 255, 109), rgba(255, 255, 255, 0.112)), url('/static/images/background-mobile.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        /* box-shadow: inset 0 0 0 1300px rgb(255, 255, 255, 0.7); */
        /* border: 15px dashed rgb(0, 102, 189, 0.5); */
        /* margin-top: 50px; */
        /* margin-left: auto;
        margin-right: auto;
        width: auto; */
    
    }

    #counter {
        color: #000000;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 100%;
        justify-content: center;
        background-color: #cccccc7d;
        background-image: linear-gradient(to right, rgb(255 255 255 / 20%), rgba(255, 255, 255, 0), rgb(255 255 255 / 20%));
    }

    label {
        display: flex;
        margin-top: 10px;
    }

    input[type="text"] {
        display: table-cell;
        /* float: right; */
        margin-left: 0%;
        justify-items: flex-start;
    }

    #searchcave {
        margin-bottom: 2%;
        display: flex;
        justify-content: space-between;
    }

    .locations-nav {
        background-color: #404040;
        height: 75px;
        /* width: 75%; */
        margin-left: auto;
        margin-right: auto;
    }
    
    .locations-nav-container {
        margin-top: 5%;
        display: inline-block;
    }
    
    .locations-nav-home {
        background-color: #404040;
        height: 75px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .location-buttons {
        background-color: transparent;
        border: none;
        padding-top: 1.5%;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
        color: white;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        font-size: xx-large;
        font-variant: small-caps;
    }

    .item-container {
        display: flex;
        flex-direction: column;
    /* justify-content: space-between; */
    }

    .location_checkbox {
        width: 100px;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0;
        padding: 0;
    }

    .location_table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }

    .row {
        display: flex;
        margin-left: 0%;
        margin-right: 0%;
        /* margin-bottom: 1%; */
        width: 100%;
        /* border: 2px solid rgba(0, 0, 0, 0.5); */
    }

    .armorForm {
        justify-content: center;
    }

    .row.armor_set {
        display: flex;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
        border: 2px solid rgb(0 0 0 / 0%);
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .col_border {
        border-left: 1px solid black;   /* Left border */
        border-right: 1px solid black; /* Right border */
        /* No border for top and bottom */
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
    }

    #armor_collected {
        width: 100%;
    }

    .armor_checkbox input[type=checkbox] {
        width: 70%;
        height: 24px;
        margin-top: 5%;
    }

    .armor_set_head {
        justify-content: center;
        padding: 0 0 0 0;
        margin: 0;
        background-color: #62ff019c;
        height: auto;
        /* width: 275%; */
    }

    .armor_set_name {
        margin: 0;
        /* padding: 0; */
        font-size: x-large;
    }

    .armor_set_piece {
        background-color: #cd06ff73;
        margin-bottom: 0;
        display: flex;
    }

    .armor_upgrade_items {
        font-size: medium;
        /* padding-left: 5%; */
        /* padding-right: 5%; */
        width: 76px;
    }

    #table_head {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    #table_data {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        /* padding-top: 1%; */
        /* padding-bottom: 1%; */
    }

    /* #armor_table, th, td {
        display:flex;
        text-align: center;
        flex-direction: row;
    }
    
    #armor_table, tr {
        margin-bottom: 12px;
    }

    #armor_table {
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    } */

    #return-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    #shrine-index {
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: #99999979;
    }

    /* Style for individual index links */
    .shrine-index-link {
        text-decoration: none;
        color: #0066bd;
        cursor: pointer;
        /* align-items: center; */
    }

    #fabrics-table, th, td {
        /* display: block; */
        text-align: center;
    }
    
    #fabrics-table, tr {
        margin-bottom: 12px;
    }

    #fabrics-table {
        width: 90%;
        margin-left: 5%;
    }

    .percentage {
        display: none; /* Initially hide the container */
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }
    
    #percentage_table {
        width: 90%;
        /* Your table styles go here */
    }

    #percentToggle {
        position: fixed;
        bottom: 20px; /* Adjust the distance from the bottom as needed */
        left: 20px; /* Adjust the distance from the right as needed */
        z-index: 1; /* Ensure the button appears above other content */
        background-color: #8b8b8b75; 
        color: #002397; /* Button text color */
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    #percentToggle:hover {
        background-color: #0057b300; /* Change color on hover */
    }

    .fabrics-table {
        display: none; /* Initially hide the container */
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    #fabricToggle {
        /* position: fixed; */
        /* bottom: 20px;  Adjust the distance from the bottom as needed */
        /* left: 20px;  Adjust the distance from the right as needed */
        /* z-index: 1;  Ensure the button appears above other content */
        width: 90%;
        /* margin-top: 5%;*/
        margin-bottom: 5%; 
        margin-left: 5%;
        background-color: #303030; 
        color: #ffffff; /* Button text color */
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    /* #fabricToggle:hover {
        background-color: #0057b300; 
    } */

     #paraglider-h2 {
        display: none;
     }

     #percentToggle {
            /* position: fixed; */
    width: 83%;
    margin-left: 8%;
    background-color: #303030;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }

    .progress-bar-img img {
        width: 90px;
        /* height: 90px; */
        margin-top: -361px;
        margin-left: 76px;
        /* float: right; */
    }

    #templeToggle {
        position: relative;
        bottom: 20px;
        width: 90%;
        margin-left: 5%;
        background-color: #303030;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

}