nav {
    display: flex;
    justify-content: center;
    float: middle;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-variant: small-caps;
    color: rgb(8, 0, 255);
    text-shadow: 1px 1px #000000;
    margin: 0 1% 0 20px;
    justify-content: center;
}

body {
    /* background-image: url('/static/background1.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* box-shadow: inset 0 0 0 900px rgb(255, 255, 255, 0.7); */
    border: 15px dashed rgb(0, 102, 189, 0.5);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

}

h1 {
    text-align: center;
    font-family:'Arial', Helvetica, sans-serif;
	font-size: 200%;
    color: rgb(0, 102, 189);
    margin-top: 20px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 30px 0 30px 15%;
    color: rgb(0, 102, 189);
    max-width: 70%;
}

h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 120%;
    margin-left: 10%;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 250%;
    text-align: center;
    color: #0800ff;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: larger;
}

/* #form {
    /*margin-left: 30px;
} */

.row {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border: 2px solid rgba(0, 0, 0, 0.5);

}

.col {
    flex: 50%;
    padding: 10px;
    height: auto;
    width: 100%;
}

table {
    box-shadow: inset 0 0 0 500px rgb(255, 255, 255, 0.5);
    border-collapse: collapse;
    width: 75%;
}

th {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #434343;
    color: #434343;
    padding: 0px 0 0 10px;

}

td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 125%;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

img {
    width: 300px;
    height: auto;
  }

.label {
    font-family: Helvetica, Arial, sans-serif;
    margin: 20% 0 0 25%;
    padding: 0 20px 0 0;
}

.items {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
    margin: 0 0 0 25%;
    padding: -15%;
}

label {
    display: inline-block;
    margin-top: 10px;
}

input[type="radio"] {
    display: inline-flex;
    margin-right: 5px;
    margin-left: 5px;
}

input[type="submit"] {
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 5%;
    width: 100px;
    height: auto;
    font-size: 120%;
}

input[type="text"] {
    display: table-cell;
    /* float: right; */
    margin-left: 20%;
    justify-items:flex-start;
}

#ShrineSubmit {
    float: right;
    margin: 5px 20px 5px 5px;
    width: auto;
}

#shrineform {
    margin: 0 0 0 0;
    width: 100%;
}

.shrine_radio_label {
    display: inline-flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 2% 0 0 5px;
}

#addchest {
    display: table;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 10px;
}

#chest_labels {
    display: table-cell;
    width: 150px;
}

#chest_list_labels {
    display: inline-table;
}

#chest_info_p {
    /* display: table-cell; */
    margin:5px;
}

#chest_list_submit {
    float:right;
    margin-right: 30%;
    margin-bottom: 10%;
}

/* #chest_item_label {
    display: inline-flex;
    text-align: right;
} */

.container {
    width:auto;
    margin-left: 20%;
    margin-right: 20%;
}

* {
    box-sizing: border-box;
  }
  
  .greatfairy_checkboxes {
    text-align: center;
    border: 2px solid #404040;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-style: solid;
    position: relative;
  }
  
  .greatfairy_checkboxes input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Style for the custom checkbox */
  .greatfairy_checkboxes::before {
    content: ""; /* Add this line to define content for :before pseudo-element */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #2fff00; /* Background color for unchecked checkbox */
    border: 2px solid #404040;
    border-radius: 2px;
  }
  
  /* Style for the checkmark when checkbox is checked */
  .greatfairy_checkboxes input[type="checkbox"]:checked + .greatfairy_checkboxes::before {
    background-color: #0800ff; /* Background color for checked checkbox */
    content: "\2713"; /* Unicode checkmark symbol ✓ */
    font-size: 20px; /* Adjust font size as needed */
    color: #ff0b0b; /* Checkmark color */
    text-align: center;
    line-height: 24px;
  }
  
  .greatfairy_labels {
    /* Additional styles for the labels */
    border: 2px solid #404040;
    border-radius: 2px;
    border-style: solid;
  }

.col-lg-12 {
    text-align: center; 
    padding: 0 0 0 0;
    border: #000000;
    border-style: solid;
}

.col-lg-4 {
    text-align: center;
    border: #404040;
    border-width: 2px;
    border-style: solid;
}

.form-check-label {
    margin: 0 0 20px 20px;
}

.custom-btn {
    background-color: #999999; /* Change the background color to red */
    color: #FFFFFF; /* Change the text color to white */
    font-size: 18px; /* Change the font size */
    border-radius: 0;
    /* Add any other custom styles as needed */
  }
  
  .BESTDRAGON input[type="checkbox"] {
    visibility: hidden;
} 

/* Custom styles for the checkboxes */
.form-check-input.BESTDRAGON {
    /* Hide the default checkboxes */
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.form-check-label.BESTDRAGON {
    /* Replace these with your desired colors */
    position: relative; /* Add this line to set position to relative */
    padding-left: 30px; /* Add some space for the custom checkbox */
}

.form-check-label.BESTDRAGON::before {
    /* Replace these with your desired colors */
    content: "";
    background-color: #b47736; /* Primary color for checked checkbox */
    border-color: #c53737; /* Border color for checkbox */
    /* Additional styles to enhance the checkbox appearance */
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Add some spacing between the checkbox and label text */
    border-radius: 4px; /* Rounded corners */
    position: absolute;
    top: 50%;
    left: 0;
}

/* checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.form-check-label.BESTDRAGON::after {
    content: "";
    position: absolute;
    display: none; /* Hide the checkmark by default */
    top: 73%;
    left: 7%;
    /* transform: translate(-75%, -15%); */
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 2px;
}

/* display checkmark when checked */
.form-check-input:checked + .form-check-label.BESTDRAGON::after {
    display: block;
}

#koroks_p {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size:larger;
}

#koroks_p2 {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size:medium;
}

#koroks_p3 {
    display: inline-block;
    margin: 0 0 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-variant: none;
    font-size:medium;
}

#koroks-table {
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
}

#add_korok {
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
}

#add_enemy{
    margin-left: 25%;
}

#enemies-table {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
}

.e_td {
    margin-right: 2px;
    margin-left: 2px;
}

.add_enemy_textbox {
    float: right;
    margin-right: 40%;
}

.add_enemy_checkbox {
    margin-left: 27%;
}

#add_enemy_submit {
    margin-left: 27%;
}

#items-table-th {
    color: #ffffff;
}

.add_item_checkbox {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

#items-table {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
}

.add_item_textbox {
    float: right;
    margin-right: 40%;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

span {
    font-family: 'Arial', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 100%;
    margin-left: 50%;
}

@media only screen and (max-width: 600px) {
    #book_picture {
        justify-content: center;
        margin-top: 10px;
    }

    #book_info {
        justify-content: center;
        padding-top: 10px;
    }

}