{% extends "layout.html" %}

{% block body %} 
    <h2>{{headline}}</h2>
    <h3>{{tagline}}</h3>

    <form id="form" action="{{ url_for('add_camp_chest') }}" method="POST" enctype="multipart/form-data">
        <div id="new_camp_chest_container">
            <div id="add_camp_chest">
                <label id="camp_chest_labels" class="labels">Type:</label>
                <div class="row">
                    <div class="col">
                        <label><input type="radio" name="camp_chest_enemies" value="Ascend into the Ruin">Ascend into the Ruin</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Behind a Boulder">Behind a Boulder</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Buried Chest">Buried Chest</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Floating Chest">Floating Chest</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Flux Construct">Flux Construct</label><br>
                    </div>
                    <div class="col">
                        <label><input type="radio" name="camp_chest_enemies" value="Hanging Chest">Hanging Chest</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Misko's Treasure">Misko's Treasure</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Top of the Pillar">Top of the Pillar</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Underwater Chest">Underwater Chest</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Wedged Between Rocks">Wedged Between Rocks</label><br>
                        <label><input type="radio" name="camp_chest_enemies" value="Other/Regular">Other/Regular</label><br>
                    </div>
                </div>
            </div>
            <div id="add_camp_chest">
                <label id="camp_chest_labels" class="labels">Chest Coordinates:</label>
                <input type="text" id="camp_chest_coord" name="camp_chest_coord" placeholder="0000 0000 0000" required>
            </div>
            <div id="add_camp_chest">
                <label id="camp_chest_labels" class="labels">Item:</label>
                <input type="text" id="camp_chest_item" name="camp_chest_item" placeholder="Item" required>
            </div>
            <div id="add_camp_chest">
                <label id="camp_chest_labels" class="labels">Location:</label>
                <input type="text" id="camp_chest_location" name="camp_chest_location" placeholder="Enter Location" required>
            </div>
            <div id="add_camp_chest">
                <label id="camp_chest_labels" class="labels">Region:</label>
                <input type="text" id="camp_chest_region" name="camp_chest_region" placeholder="Enter Region" required>
            </div>
            <div id="add_camp_chest">
                <label id="camp_chest_labels" class="labels">Found:</label>
                <input type="checkbox" id="camp_chest_found" name="camp_chest_found" value="0" unchecked>
            </div>
        </div>
        <input type="submit" id="addItemSubmit" value="Submit">
    </form>

{% endblock %}
