{% extends "layout.html" %}

{% block body %} 
    <h2>{{headline}}</h2>
    <h3>{{tagline}}</h3>

    <form id="form" action="{{ url_for('additem') }}" method="POST" enctype="multipart/form-data">
        <div id="new_chest_container">
            <div id="addchest">
                <label id="chest_labels" class="labels">Type:</label>
                <div class="row">
                    <div class="col">
                        <label><input type="radio" name="chest_type" value="Ascend into the Ruin">Ascend into the Ruin</label><br>
                        <label><input type="radio" name="chest_type" value="Behind a Boulder">Behind a Boulder</label><br>
                        <label><input type="radio" name="chest_type" value="Buried Chest">Buried Chest</label><br>
                        <label><input type="radio" name="chest_type" value="Floating Chest">Floating Chest</label><br>
                        <label><input type="radio" name="chest_type" value="Flux Construct">Flux Construct</label><br>
                    </div>
                    <div class="col">
                        <label><input type="radio" name="chest_type" value="Hanging Chest">Hanging Chest</label><br>
                        <label><input type="radio" name="chest_type" value="Misko's Treasure">Misko's Treasure</label><br>
                        <label><input type="radio" name="chest_type" value="Top of the Pillar">Top of the Pillar</label><br>
                        <label><input type="radio" name="chest_type" value="Underwater Chest">Underwater Chest</label><br>
                        <label><input type="radio" name="chest_type" value="Wedged Between Rocks">Wedged Between Rocks</label><br>
                        <label><input type="radio" name="chest_type" value="Other/Regular">Other/Regular</label><br>
                    </div>
                </div>
            </div>
            <div id="addchest">
                <label id="chest_labels" class="labels">Chest Coordinates:</label>
                <input type="text" id="chest_coord" name="chest_coord" placeholder="0000 0000 0000" required>
            </div>
            <div id="addchest">
                <label id="chest_labels" class="labels">Item:</label>
                <input type="text" id="chest_item" name="chest_item" placeholder="Item" required>
            </div>
            <div id="addchest">
                <label id="chest_labels" class="labels">Location:</label>
                <input type="text" id="chest_location" name="chest_location" placeholder="Enter Location" required>
            </div>
            <div id="addchest">
                <label id="chest_labels" class="labels">Region:</label>
                <input type="text" id="chest_region" name="chest_region" placeholder="Enter Region" required>
            </div>
            <div id="addchest">
                <label id="chest_labels" class="labels">Side Quest:</label>
                <input type="text" id="chest_sideq" name="chest_sideq">
            </div>
        </div>
        <input type="submit" id="addItemSubmit" value="Submit">
    </form>

{% endblock %}
