{% extends "layout.html" %}

{% block body %}

<div class="col-md-8">
    <form id="fairyForm" method="POST" action="/update_greatfairies">
        <p class="armor_upgrade_items">Great Fairies Opened</p>
        {% for fairy in fairies %}
        <input type="checkbox" class="great-fairy-checkboxes" id="fairy_{{fairy[0]}}" name="fairy_{{fairy[0]}}" value="{{fairy[1]}}" {% if fairy[1] == 1 %}checked{% elif fairy[1] == 0 %} unchecked{% endif %}>Great Fairy {{fairy[2]}}<br>
        {% endfor %}
    </form>
</div>

<h2>Sets</h2>
<form id="armorForm" class="armorForm" method="POST" action="/armors">
    {% for armor in armor_sets %}
<div class="col-md-8">
    <div class="row armor_set">
        <div id="armor_collected">
            <div class="row armor_set_head">
                <h2 class="armor_set_name">{{armor[0][0]}}</h2>
            </div>
            <div class="row armor_set_piece">
                <table>
                    <thead id="armor_table">
                        {% if armor[0][0] == "Archaic" %}
                        <th>Chest</th>
                        <th>Pants</th>
                        <th>Pants</th>
                        {% else %}
                        <th>Helm</th>
                        <th>Chest</th>
                        <th>Pants</th>
                        {% endif %}
                    </thead>
                    <tbody class="armor_checkbox" id="armor_table">
                        <tr>
                            <td>
                                <input type="hidden" id="armor_id" name="armor_id" value="{{ armor[1][0] }}">
                                <input type="hidden" id="armor_id_{{ armor[1][0] }}" name="armor_id_{{ armor[1][0] }}" value="{{ armor[1][2] }}">
                                <input type="checkbox" class="collected-checkbox" id="armor_id_{{ armor[1][0] }}" name="armor_id_{{ armor[1][0] }}" value="{{ armor[1][2] }}" {% if armor[1][2] == "1" %}checked{% elif armor[1][2] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), updatearmor(this, '{{armor[1][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="armor_id" name="armor_id" value="{{ armor[2][0] }}">
                                <input type="hidden" id="armor_id_{{ armor[2][0] }}" name="armor_id_{{ armor[2][0] }}" value="{{ armor[2][2] }}">
                                <input type="checkbox" class="collected-checkbox" id="armor_id_{{ armor[2][0] }}" name="armor_id_{{ armor[2][0] }}" value="{{ armor[2][2] }}" {% if armor[2][2] == "1" %}checked{% elif armor[2][2] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), updatearmor(this, '{{armor[2][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="armor_id" name="armor_id" value="{{ armor[3][0] }}">
                                <input type="hidden" id="armor_id_{{ armor[3][0] }}" name="armor_id_{{ armor[3][0] }}" value="{{ armor[3][2] }}">
                                <input type="checkbox" class="collected-checkbox" id="armor_id_{{ armor[3][0] }}" name="armor_id_{{ armor[3][0] }}" value="{{ armor[3][2] }}" {% if armor[3][2] == "1" %}checked{% elif armor[3][2] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), updatearmor(this, '{{armor[3][0]}}')">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="armor_upgrade_1" class="armor_upgrade_container armor_set_{{armor[0][0]}} hidden_display">
            <div class="row armor_upgrade_head">
                <h2 class="armor_set_name">&star;</h2><br>
            </div>
            <div class="row armor_set_piece_upgrade1">
                <table>
                    <thead id="armor_table">
                        {% if armor[0][0] == "Archaic" %}
                        <th>Chest</th>
                        <th>Pants</th>
                        <th>Pants</th>
                        {% else %}
                        <th>Helm</th>
                        <th>Chest</th>
                        <th>Pants</th>
                        {% endif %}
                    </thead>
                    <tbody class="armor_set_piece_upgrade level1-upgrade" id="armor_table">
                        <tr>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up1_{{ armor[1][0] }}" name="armor_up1_{{ armor[1][0] }}" value="{{ armor[1][3] }}">
                                <input type="checkbox" class="level1-checkbox" id="armor_up1_{{ armor[1][0] }}" name="armor_up1_{{ armor[1][0] }}" value="level1" {% if armor[1][3] == "1" %}checked{% elif armor[1][3] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade1(this, '{{armor[1][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up1_{{ armor[2][0] }}" name="armor_up1_{{ armor[2][0] }}" value="{{ armor[2][3] }}">
                                <input type="checkbox" class="level1-checkbox" id="armor_up1_{{ armor[2][0] }}" name="armor_up1_{{ armor[2][0] }}" value="level1" {% if armor[2][3] == "1" %}checked{% elif armor[2][3] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade1(this, '{{armor[2][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up1_{{ armor[3][0] }}" name="armor_up1_{{ armor[3][0] }}" value="{{ armor[3][3] }}">
                                <input type="checkbox" class="level1-checkbox" id="armor_up1_{{ armor[3][0] }}" name="armor_up1_{{ armor[3][0] }}" value="level1" {% if armor[3][3] == "1" %}checked{% elif armor[3][3] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade1(this, '{{armor[3][0]}}')">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="armor_upgrade_items">
                                    {% if armor[1][4] == None %}
                                        ???
                                    {% else %}
                                        {{armor[1][4]}}
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[2][4] == None %}
                                    ???
                                {% else %}
                                    {{armor[2][4]}}
                                {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[3][4] == None %}
                                    ???
                                {% else %}
                                    {{armor[3][4]}}
                                {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="armor_upgrade_2" class="armor_upgrade_container  armor_set_{{armor[0][0]}} hidden_display">
            <div class="row armor_upgrade_head">
                <h2 class="armor_set_name">&star;&star;</h2><br>
            </div>
            <div class="row armor_set_piece_upgrade2">
                <table>
                    <thead id="armor_table">
                        {% if armor[0][0] == "Archaic" %}
                        <th>Chest</th>
                        <th>Pants</th>
                        <th>Pants</th>
                        {% else %}
                        <th>Helm</th>
                        <th>Chest</th>
                        <th>Pants</th>
                        {% endif %}
                    </thead>
                    <tbody class="armor_set_piece_upgrade level2-upgrade" id="armor_table">
                        <tr>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up2_{{ armor[1][0] }}" name="armor_up2_{{ armor[1][0] }}" value="{{ armor[1][5] }}">
                                <input type="checkbox" class="level2-checkbox" id="armor_up2_{{ armor[1][0] }}" name="armor_up2_{{ armor[1][0] }}" value="level2" {% if armor[1][5] == "1" %}checked{% elif armor[1][5] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade2(this, '{{armor[1][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up2_{{ armor[2][0] }}" name="armor_up2_{{ armor[2][0] }}" value="{{ armor[2][5] }}">
                                <input type="checkbox" class="level2-checkbox" id="armor_up2_{{ armor[2][0] }}" name="armor_up2_{{ armor[2][0] }}" value="level2" {% if armor[2][5] == "1" %}checked{% elif armor[2][5] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade2(this, '{{armor[2][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up2_{{ armor[3][0] }}" name="armor_up2_{{ armor[3][0] }}" value="{{ armor[3][5] }}">
                                <input type="checkbox" class="level2-checkbox" id="armor_up2_{{ armor[3][0] }}" name="armor_up2_{{ armor[3][0] }}" value="level2" {% if armor[3][5] == "1" %}checked{% elif armor[3][5] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade2(this, '{{armor[3][0]}}')">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="armor_upgrade_items">
                                    {% if armor[1][6] == None %}
                                        ???
                                    {% else %}
                                        {{armor[1][6]}}
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[2][6] == None %}
                                    ???
                                {% else %}
                                    {{armor[2][6]}}
                                {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[3][6] == None %}
                                    ???
                                {% else %}
                                    {{armor[3][6]}}
                                {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="armor_upgrade_3" class="armor_upgrade_container armor_set_{{armor[0][0]}} hidden_display">
            <div class="row armor_upgrade_head">
                <h2 class="armor_set_name">&star;&star;&star;</h2><br>
            </div>
            <div class="row armor_set_piece_upgrade3">
                <table>
                    <thead id="armor_table">
                        {% if armor[0][0] == "Archaic" %}
                        <th>Chest</th>
                        <th>Pants</th>
                        <th>Pants</th>
                        {% else %}
                        <th>Helm</th>
                        <th>Chest</th>
                        <th>Pants</th>
                        {% endif %}
                    </thead>
                    <tbody class="armor_set_piece_upgrade level3-upgrade" id="armor_table">
                        <tr>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up3_{{ armor[1][0] }}" name="armor_up3_{{ armor[1][0] }}" value="{{ armor[1][7] }}">
                                <input type="checkbox" class="level3-checkbox" id="armor_up3_{{ armor[1][0] }}" name="armor_up3_{{ armor[1][0] }}" value="level3" {% if armor[1][7] == "1" %}checked{% elif armor[1][7] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade3(this, '{{armor[1][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up3_{{ armor[2][0] }}" name="armor_up3_{{ armor[2][0] }}" value="{{ armor[2][7] }}">
                                <input type="checkbox" class="level3-checkbox" id="armor_up3_{{ armor[2][0] }}" name="armor_up3_{{ armor[2][0] }}" value="level3" {% if armor[2][7] == "1" %}checked{% elif armor[2][7] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade3(this, '{{armor[2][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up3_{{ armor[3][0] }}" name="armor_up3_{{ armor[3][0] }}" value="{{ armor[3][7] }}">
                                <input type="checkbox" class="level3-checkbox" id="armor_up3_{{ armor[3][0] }}" name="armor_up3_{{ armor[3][0] }}" value="level3" {% if armor[3][7] == "1" %}checked{% elif armor[3][7] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade3(this, '{{armor[3][0]}}')">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="armor_upgrade_items">
                                    {% if armor[1][8] == None %}
                                        ???
                                    {% else %}
                                        {{armor[1][8]}}
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[2][8] == None %}
                                    ???
                                {% else %}
                                    {{armor[2][8]}}
                                {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[3][8] == None %}
                                    ???
                                {% else %}
                                    {{armor[3][8]}}
                                {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="armor_upgrade_4" class="armor_upgrade_container armor_set_{{armor[0][0]}} hidden_display">
            <div class="row armor_upgrade_head">
                <h2 class="armor_set_name">&star;&star;&star;&star;</h2><br>
            </div>
            <div class="row armor_set_piece_upgrade4">
                <table>
                    <thead id="armor_table">
                        {% if armor[0][0] == "Archaic" %}
                        <th>Chest</th>
                        <th>Pants</th>
                        <th>Pants</th>
                        {% else %}
                        <th>Helm</th>
                        <th>Chest</th>
                        <th>Pants</th>
                        {% endif %}
                    </thead>
                    <tbody class="armor_set_piece_upgrade level4-upgrade"id="armor_table">
                        <tr>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up4_{{ armor[1][0] }}" name="armor_up4_{{ armor[1][0] }}" value="{{ armor[1][9] }}">
                                <input type="checkbox" class="level4-checkbox" id="armor_up4_{{ armor[1][0] }}" name="armor_up4_{{ armor[1][0] }}" value="level4" {% if armor[1][9] == "1" %}checked{% elif armor[1][9] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade4(this, '{{armor[1][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up4_{{ armor[2][0] }}" name="armor_up4_{{ armor[2][0] }}" value="{{ armor[2][9] }}">
                                <input type="checkbox" class="level4-checkbox" id="armor_up4_{{ armor[2][0] }}" name="armor_up4_{{ armor[2][0] }}" value="level4" {% if armor[2][9] == "1" %}checked{% elif armor[2][9] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade4(this, '{{armor[2][0]}}')">
                            </td>
                            <td>
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <input type="hidden" id="armor_up4_{{ armor[3][0] }}" name="armor_up4_{{ armor[3][0] }}" value="{{ armor[3][9] }}">
                                <input type="checkbox" class="level4-checkbox" id="armor_up4_{{ armor[3][0] }}" name="armor_up4_{{ armor[3][0] }}" value="level4" {% if armor[3][9] == "1" %}checked{% elif armor[3][9] == "0" %} unchecked{% endif %} onclick="updateUpgradesDisplay(), armorUpgrade4(this, '{{armor[3][0]}}')">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="armor_upgrade_items">
                                    {% if armor[1][10] == None %}
                                        ???
                                    {% else %}
                                        {{armor[1][10]}}
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[2][10] == None %}
                                    ???
                                {% else %}
                                    {{armor[2][10]}}
                                {% endif %}
                                </p>
                            </td>
                            <td>
                                <p class="armor_upgrade_items">
                                {% if armor[3][10] == None %}
                                    ???
                                {% else %}
                                    {{armor[3][10]}}
                                {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</form>


<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}
