{% extends "layout.html" %}

{% block body %} 

<div class="content-container">
    <form action="{{ url_for('compendium') }}" method="POST" enctype="multipart/form-data">
        <input type="submit" id="compSubmit" value="Update">
        <h1>Creatures</h1>
        <div class="item-container">
            {% for creature in creatures %}
                <div class="comp-col-7">
                    <table class="comp_table">
                        <tr>
                            <th colspan="2">Info</th>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>{{creature[0]}}</td>
                        </tr>
                        <tr>
                            <td>Item</td>
                            <td>{{creature[1]}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="comp_checkbox">
                                {% if creature[3] == 0 %}
                                    <input type="checkbox" class="comp_checkbox" id="done_{{ creature[0] }}" name="done_comp_{{ creature[0] }}" value="0" unchecked>
                                {% elif creature[3] == 1 %}
                                    <input type="checkbox" class="comp_checkbox" id="done_{{ creature[0] }}" name="done_comp_{{ creature[0] }}" value="1" checked>
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>                    
                </div>
            {% endfor %}
        </div>
        <h1>Monsters</h1>
        <div class="item-container">
            {% for monster in monsters %}
                <div class="comp-col-7">
                <table class="comp_table">
                    <tr>
                        <th>Info</th>
                        <th>Compendium Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{monster[0]}}</td>
                    </tr>
                    <tr>
                        <td>Item</td>
                        <td>{{monster[1]}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{monster[2]}}</td>
                    </tr>
                    
                    <tr>
                        <td>Status</td>
                        <td>
                            {% if monster[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ monster[0] }}" name="done_comp_{{ monster[0] }}" value=0 unchecked>
                            {% elif monster[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ monster[0] }}" name="done_comp_{{ monster[0] }}" value=1 checked>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </div>
            {% endfor %}
        </div>
        <h1>Materials</h1>
        <div class="item-container">
            {% for material in materials %}
                <div class="comp-col-7">
                    <table class="comp_table">
                    <tr>
                        <th>Info</th>
                        <th>Compendium Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{material[0]}}</td>
                    </tr>
                    <tr>
                        <td>Item</td>
                        <td>{{material[1]}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{material[2]}}</td>
                    </tr>
                    
                    <tr>
                        <td>Status</td>
                        <td>
                            {% if material[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ material[0] }}" name="done_comp_{{ material[0] }}" value=0 unchecked>
                            {% elif material[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ material[0] }}" name="done_comp_{{ material[0] }}" value=1 checked>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </div>
            {% endfor %}
        </div>

        <h1>Equipment</h1>
        <div class="item-container">
            {% for equip in equipment %}
                <div class="comp-col-7">
                    <table class="comp_table">
                    <tr>
                        <th>Info</th>
                        <th>Compendium Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{equip[0]}}</td>
                    </tr>
                    <tr>
                        <td>Item</td>
                        <td>{{equip[1]}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{equip[2]}}</td>
                    </tr>
                    
                    <tr>
                        <td>Status</td>
                        <td>
                            {% if equip[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ equip[0] }}" name="done_comp_{{ equip[0] }}" value=0 unchecked>
                            {% elif equip[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ equip[0] }}" name="done_comp_{{ equip[0] }}" value=1 checked>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </div>
            {% endfor %}
        </div>
        <h1>Treasures</h1>
        <div class="item-container">
            {% for treasure in treasures %}
                <div class="comp-col-7">
                    <table class="comp_table">
                    <tr>
                        <th>Info</th>
                        <th>Compendium Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{treasure[0]}}</td>
                    </tr>
                    <tr>
                        <td>Item</td>
                        <td>{{treasure[1]}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{treasure[2]}}</td>
                    </tr>
                    
                    <tr>
                        <td>Status</td>
                        <td>
                            {% if treasure[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ treasure[0] }}" name="done_comp_{{ treasure[0] }}" value=0 unchecked>
                            {% elif treasure[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ treasure[0] }}" name="done_comp_{{ treasure[0] }}" value=1 checked>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </div>
            {% endfor %}
        </div>

    </form>
</div>
{% endblock %}
