{% extends "layout.html" %}

{% block body %} 
<div id="searchcomp">
    <input type="text" id="find_comp" name="find_comp" placeholder="comp Search">
    <button id="searchButton" onclick="compFind()">Search</button>
    <button onclick="compShow()">Reset</button>
</div>

    <div class="content-container">
        <form id="comp_main" action="{{ url_for('compendium') }}" method="POST" enctype="multipart/form-data">
            <h1>Creatures</h1>
            <div class="item-container">
                <div class="comp-md-8">
                    {% for result in results if result[2] == "Creatures" %}
                    <div class="row comp_all" id="compStatus_{{result[3]}}" name="comp_name_{{result[1]}}">
                        <table class="location_table" id="well-table">
                            <tr>
                                <th colspan="2">Info</th>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{result[0]}}</td>
                            </tr>
                            <tr>
                                <td class="comp_checkbox">
                                    <input type="hidden" name="comp_id" value="{{ result[0] }}">
                                    {% if result[3] == 0 %}
                                        <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value="0" unchecked onclick="updatecomp(this, '{{result[0]}}'); itemToggle(this, '{{ result[0] }}')">
                                    {% elif result[3] == 1 %}
                                        <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value="1" checked onclick="updatecomp(this, '{{result[0]}}'); itemToggle(this, '{{ result[0] }}')">
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td><p class="comp_hide" id="comp_item_{{result[0]}}" data-rewards="{{ result[1] }}">{{ result[1] }}</p><p id="comp_white">{{result[1]}}</p></td>
                            </tr>
                            
                        </table>  
                    </div>
                    {% endfor %}                  
                </div>
                
            </div>
        <h1>Monsters</h1>
        <div class="item-container">
            {% for result in results if result[2] == "Monsters" %}
            <div class="comp-md-8">
                <div class="row comp_all" id="compStatus_{{result[3]}}" name="comp_name_{{result[1]}}">
                    <table class="location_table" id="well-table">
                        <tr>
                            <th colspan="2">Info</th>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>{{result[0]}}</td>
                        </tr>
                        <tr>
                            <td class="comp_checkbox">
                                <input type="hidden" name="comp_id" value="{{ result[0] }}">
                                {% if result[3] == 0 %}
                                    <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=0 unchecked onclick="updatecomp(this, '{{result[0]}}')">
                                {% elif result[3] == 1 %}
                                    <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=1 checked onclick="updatecomp(this, '{{result[0]}}')">
                                {% else %}
                                {% endif %}
                                
                            </td>
                            <td><p class="comp_hide" id="comp_item_{{result[0]}}" data-rewards="{{ result[1] }}">{{ result[1] }}</p><p id="comp_white">{{result[1]}}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <h1>Materials</h1>
        <div class="item-container">
            {% for result in results if result[2] == "Materials" %}
            <div class="comp-md-8">
                <div class="row comp_all"  id="compStatus_{{result[3]}}" name="comp_name_{{result[1]}}">
                    <table class="location_table" id="well-table">
                    <tr>
                        <th colspan="2">Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{result[0]}}</td>
                    </tr>
                    <tr>
                        <td class="comp_checkbox">
                            <input type="hidden" name="comp_id" value="{{ result[0] }}">
                            {% if result[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=0 unchecked onclick="updatecomp(this, '{{result[0]}}')">
                            {% elif result[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=1 checked onclick="updatecomp(this, '{{result[0]}}')">
                            {% else %}
                            {% endif %}
                            
                        </td>
                        <td><p class="comp_hide" id="comp_item_{{result[0]}}" data-rewards="{{ result[1] }}">{{ result[1] }}</p><p id="comp_white">{{result[1]}}</p></td>                    </tr>                    
                    </tr> 
                </table>
                </div>
            </div>
            {% endfor %}
        </div>

        <h1>Equipment</h1>
        <div class="item-container">
            {% for result in results if result[2] == "Equipment" %}
            <div class="comp-md-8">
                <div class="row comp_all" id="compStatus_{{result[3]}}" name="comp_name_{{result[1]}}">
                    <table class="location_table" id="well-table">
                    <tr>
                        <th colspan="2">Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{result[0]}}</td>
                    </tr>
                    <tr>
                        <td class="comp_checkbox">
                            <input type="hidden" name="comp_id" value="{{ result[0] }}">
                            {% if result[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=0 unchecked onclick="updatecomp(this, '{{result[0]}}')">
                            {% elif result[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=1 checked onclick="updatecomp(this, '{{result[0]}}')">
                            {% else %}
                            {% endif %}
                            
                        </td>
                        <td><p class="comp_hide" id="comp_item_{{result[0]}}" data-rewards="{{ result[1] }}">{{ result[1] }}</p><p id="comp_white">{{result[1]}}</p></td>                 
                    </tr>    
                </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <h1>Treasures</h1>
        <div class="item-container">
            {% for result in results if result[2] == "Treasure" %}
            <div class="comp-md-8">
                <div class="row comp_all"  id="compStatus_{{result[3]}}" name="comp_name_{{result[1]}}">
                    <table class="location_table" id="well-table">
                    <tr>
                        <th colspan="2">Info</th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{result[0]}}</td>
                    </tr>
                    <tr>
                        <td class="comp_checkbox">
                            <input type="hidden" name="comp_id" value="{{ result[0] }}">
                            {% if result[3] == 0 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=0 unchecked onclick="updatecomp(this, '{{result[0]}}')">
                            {% elif result[3] == 1 %}
                                <input type="checkbox" class="comp_checkbox" id="done_{{ result[0] }}" name="done_comp_{{ result[0] }}" value=1 checked onclick="updatecomp(this, '{{result[0]}}')">
                            {% else %}
                            {% endif %}
                            
                        </td>
                        <td><p class="comp_hide" id="comp_item_{{result[0]}}" data-rewards="{{ result[1] }}">{{ result[1] }}</p><p id="comp_white">{{result[1]}}</p></td>                 
                    </tr>  
                </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='compendium.js') }}"></script>
{% endblock %}
