{% extends "layout.html" %}

{% block body %} 
    <!-- <form id="add_korok" method="POST" action="/add_korok">
        <div class="container">
            <div id="addkorok" class="addkorokclass">
                <label id="korok_labels" for="location">Location:</label>
                <input type="text" id="location" name="location" required><br>
            </div>
            <div id="addkorok">
                <label id="korok_labels" for="kType">Type:</label>
                <input type="text" id="kType" name="kType" required><br>
            </div>
            <div id="addkorok">
                <label id="korok_labels" for="coord_start">Coordinates Start:</label>
                <input type="text" id="coord_start" name="coord_start" required><br>
            </div>
            <div id="addkorok">
                <label id="korok_labels" for="coord_end">Coordinates End:</label>
                <input type="text" id="coord_end" name="coord_end"><br>
            </div>
            <div id="addkorok">
                <label id="korok_labels" for="description">Description:</label>
                <textarea id="description" name="description"></textarea><br>
            </div>
            <div id="addkorok">
                <label id="korok_labels" for="korok_done">Coordinates End:</label>
                <input type="checkbox" id="korok_done" name="korok_done" value="1" checked><br>
            </div>
        </div>
        <input type="submit" id="add_korok_submit"value="Add Korok">
    </form> -->

    <div id="koroks-counter">
        <p><span>{{completed_koroks}} / 900</span></p>
        <p><span id="percentage-found">0</span>%</p>
    </div>
    
    <table id="koroks-table">
        <thead>
            <tr>
                <th><button id="sort-by-found-btn" onclick="sortKoroks('korok_done')">Found</button></th>
                <!-- <th><button id="sort-by-location-btn" onclick="sortKoroks('location_num')">Location/Num</button></th> -->
                <th><button id="sort-by-location-btn" onclick="sortKoroks('korok_location')">Type</button></th>
                <th><button id="sort-by-coord-btn" onclick="sortKoroks('korok_coord')">Coordinates</button></th>
                <th><button id="sort-by-type-btn" onclick="sortKoroks('korok_type')">Map Location</button></th>
            </tr>
        </thead>
        <tbody id="koroks-body">
            {% for korok in koroks %}
            <tr>
                <td>
                    <input type="checkbox" id="korok_done_{{ korok[0] }}" name="korok_done_{{ korok[0] }}" value="{{korok[1]}}" {% if korok[1] == 1 %}checked{% endif %} onclick="updateKorok(this, '{{korok[0]}}')">
                </td>
                <td id="korok_type">{{ korok[3] }}</td>
                <td id="korok_coord">{{ korok[4] }}</td>
                <td id="korok_location">{{ korok[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='javascript_koroks.js') }}"></script>
{% endblock %}
