<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Test!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <h1>{% block heading %}
        Zelda: Tears of the Kingdom !
    {% endblock %}</h1>
</head>
<body>
    
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('koroks') }}">Koroks</a>
        <a href="{{ url_for('caves') }}">Caves</a>
        <a href="{{ url_for('chests') }}">Chests</a>
        <a href="{{ url_for('additem') }}">Add Chest</a>
        <a href="{{ url_for('armors') }}">Armors</a>
        <a href="{{ url_for('oldmaps') }}">Old Maps</a>
        <a href="{{ url_for('shrines') }}">Shrines</a>
        <a href="{{ url_for('index') }}">Shrine Quests</a>
        <a href="{{ url_for('sidequests') }}">Side Quests</a>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>