{% extends "layout.html" %}

{% block body %} 
<div class="locations-nav-home">
    <a href="{{ url_for('locationnav') }}">
        <button class="location-buttons">Locations</button>
    </a>
</div>
<div class="content-container">
    <form action="{{ url_for('well') }}" method="POST" enctype="multipart/form-data">
        <div class="item-container location_container">
            {% for well in wells %}
                <div class="location-col-7">
                    <table class="location_table" id="well-table">
                        <tr>
                            <th id="location_th_1">Info</th>
                            <th id="location_th_2">well Info</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{well[2]}}</td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>{{well[3]}}</td>
                        </tr>
                        <tr>
                            <td>Coordinates</td>
                            <td>{{well[4]}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="location_checkbox">
                                {% if well[1] == 0 %}
                                    <input type="checkbox" class="location_checkbox" id="done_{{ well[0] }}" name="done_well_{{ well[0] }}" value="0" unchecked onclick="updatewell(this, '{{well[0]}}')">
                                {% elif well[1] == 1 %}
                                    <input type="checkbox" class="location_checkbox" id="done_{{ well[0] }}" name="done_well_{{ well[0] }}" value="1" checked onclick="updatewell(this, '{{well[0]}}')">
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>                    
                </div>
            {% endfor %}
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='well.js') }}"></script>
{% endblock %}
