{% extends "layout.html" %}

{% block body %} 
<div class="locations-nav-home">
    <a href="{{ url_for('locationnav') }}">
        <button class="location-buttons">Locations</button>
    </a>
</div>
<div class="content-container">
    <form action="{{ url_for('chasm') }}" method="POST" enctype="multipart/form-data">
        <div class="item-container location_container">
            {% for chasm in chasms %}
                <div class="location-col-7">
                    <table id="chasm-table" class="location_table">
                        <tr>
                            <th id="location_th_1">Info</th>
                            <th id="location_th_2">Chasm Info</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{chasm[2]}}</td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>{{chasm[3]}}</td>
                        </tr>
                        <tr>
                            <td>Coordinates</td>
                            <td>{{chasm[4]}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="location_checkbox">
                                {% if chasm[1] == 0 %}
                                    <input type="checkbox" class="location_checkbox" id="done_{{ chasm[0] }}" name="done_chasm_{{ chasm[0] }}" value="0" unchecked>
                                {% elif chasm[1] == 1 %}
                                    <input type="checkbox" class="location_checkbox" id="done_{{ chasm[0] }}" name="done_chasm_{{ chasm[0] }}" value="1" checked>
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>                    
                </div>
            {% endfor %}
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='chasm.js') }}"></script>

{% endblock %}
