{% extends "layout.html" %}

{% block body %} 

    <form id="mainquform" action="{{ url_for('mainqu') }}" method="POST" enctype="multipart/form-data">
        <div class="row">
            {% for result in results %}
            <table class="main_body questShow_{{result[14]}}" id="quest_{{result[0]}}" style="width: 100%;">
                <colgroup>
                    <col span="1">
                    <col span="2">
                </colgroup>
                    <thead>
                        <tr>
                            <th>Info</th>
                            <th>Main Quest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="main_name" class="main_{{result[0]}} hidden_display">
                            <td>Name</td>
                            <td>{{result[3]}}</td>
                        </tr>
                        <tr id="main_contact" class="main_{{result[0]}} hidden_display">
                            <td>Contact</td>
                            <td>{{result[4]}}</td>
                        </tr>
                        <tr id="main_location" class="main_{{result[0]}} hidden_display">
                            <td>Location</td>
                            <td>{{result[7]}}</td>
                        </tr>
                        {% if result[9] != None %}
                        <tr id="main_rewards" class="main_{{result[0]}} hidden_display">
                            <td>Rewards</td>
                            <td>{{result[9]}}</td>
                        </tr> 
                        {% endif %}
                        <tr>
                            <td>Status</td>
                            <td>
                                <input type="radio" class="mainRadio_{{result[1]}}" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}><label class="mainqu_radio_labels" for="undone_{{ result[0] }}">Not Started</label>
                                <input type="radio" class="mainRadio_{{result[1]}}" id="started_{{ result[0] }}"name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}><label class="mainqu_radio_labels" for="mainqu_{{ result[0] }}">Started</label>
                                <input type="radio" class="mainRadio_{{result[1]}}" id="done_{{ result[0] }}"name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}><label class="mainqu_radio_labels" for="done_{{ result[0] }}">Completed</label>
                            </td>
                        </tr>                   
                        {% if result[1] != 0 %}
                            {% for sub in subqus %}
                                {% if sub[2] == result[0] %}
                                    {% if sub[2] != 2 %}
                                        <tr class="subquest subquest_{{sub[0]}}">
                                            <td><input class="main_checkbox id_{{result[0]}} main_check_{{sub[0]}}" id="secondary_{{ sub[0]}}" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[1] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                                            <td>{{sub[4]}}</td>
                                        </tr>
                                    {% elif sub[2] == 2 %}
                                
                                        {% if sub[6] == 1 %}
                                            <tr class="subquest subquest_1 subquest_{{sub[0]}}">
                                                <td><input class="main_checkbox level_1 id_{{result[0]}} next_{{sub[8]}}" id="level_1" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[1] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                                                <td>{{sub[4]}}</td>
                                            </tr>
                                        {% elif sub[6] == 2 %}
                                            <tr class="subquest subquest_2 subquest_{{sub[0]}} hidden_display">
                                                <td><input class="main_checkbox level_2 id_{{result[0]}} next_{{sub[8]}}" id="level_2" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[1] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                                                <td>{{sub[4]}}</td>
                                            </tr>
                                        {% elif  sub[6] == 3 %}
                                            <tr class="subquest subquest_3 subquest_{{sub[0]}} hidden_display">
                                                <td><input class="main_checkbox level_3 id_{{result[0]}} next_{{sub[8]}}" id="level_3" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[1] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                                                <td>{{sub[4]}}</td>
                                            </tr>
                                        {% elif sub[6] == 4 %}
                                            <tr class="subquest subquest_4 subquest_{{sub[0]}} hidden_display">
                                                <td><input class="main_checkbox level_4 id_{{result[0]}} next_{{sub[8]}}" id="level_4" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[1] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                                                <td>{{sub[4]}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </form>
<script src="{{ url_for('static', filename='mainquests.js') }}"></script>
{% endblock %}
