{% extends "layout.html" %}

{% block body %} 

    <form id="mainquform" action="{{ url_for('mainqu') }}" method="POST" enctype="multipart/form-data">
        <div class="row">
            {% for result in results %}
            <table class="main_body" style="width: 100%;">
                <colgroup>
                    <col span="1">
                    <col span="2">
                </colgroup>
                    <thead>
                        <tr>
                            <th>Info</th>
                            <th>Main Quest</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if result[1] == 2 %}
                        <tr>
                            <td>Name</td>
                            <td>{{result[3]}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>{{result[4]}}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{result[7]}}</td>
                        </tr>
                        <tr>
                            <td>Rewards</td>
                            <td>{{result[9]}}</td>
                        </tr> 
                        <tr>
                            <td>Status</td>
                            <td>
                                <input type="radio" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}><label class="mainqu_radio_labels" for="undone_{{ result[0] }}">Not Started</label>
                                <input type="radio" id="started_{{ result[0] }}"name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}><label class="mainqu_radio_labels" for="mainqu_{{ result[0] }}">Started</label>
                                <input type="radio" id="done_{{ result[0] }}"name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}><label class="mainqu_radio_labels" for="done_{{ result[0] }}">Completed</label>
                            </td>
                        </tr>                   
                        {% elif result[1] == 1 %}
                        <tr>
                            <td>Name</td>
                            <td>{{result[3]}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>{{result[4]}}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{result[7]}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <input type="radio" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}><label class="mainqu_radio_labels" for="undone_{{ result[0] }}">Not Started</label>
                                <input type="radio" id="started_{{ result[0] }}"name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}><label class="mainqu_radio_labels" for="mainqu_{{ result[0] }}">Started</label>
                                <input type="radio" id="done_{{ result[0] }}"name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}><label class="mainqu_radio_labels" for="done_{{ result[0] }}">Completed</label>
                            </td>
                        </tr>
                        {% for sub in subqus %}
                            {% if sub[2] == result[0] %}
                                <tr>
                                    <th class="main_secondary">Info</th>
                                    <th class="main_secondary">Sub Quest</th>
                                </tr>
                                <tr>
                                    <td><input class="main_checkbox main_check_{{sub[0]}}" id="secondary_{{ sub[0]}}" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[0] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                                    <td>{{sub[3]}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% elif result[1] == 0 %}
                        <tr>
                            <td>Name</td>
                            <td>{{result[3]}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <input type="radio" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}><label class="mainqu_radio_labels" for="undone_{{ result[0] }}">Not Started</label>
                                <input type="radio" id="started_{{ result[0] }}"name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}><label class="mainqu_radio_labels" for="mainqu_{{ result[0] }}">Started</label>
                                <input type="radio" id="done_{{ result[0] }}"name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}><label class="mainqu_radio_labels" for="done_{{ result[0] }}">Completed</label>
                            </td>
                        </tr>
                        {% endif %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </form>
<script src="{{ url_for('static', filename='mainquests.js') }}"></script>
{% endblock %}
