{% extends "layout.html" %}

{% block body %} 

{% for result in results %}
    <div class="row">
        <table  style="width: 100%;">
            <colgroup>
                <col span="1" style="width: 30%;">
                <col span="2" style="width: 70%;">
             </colgroup>
            <tbody>
            <tr>
                <th>Stat</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{result[0]}}</td>
            </tr>
            <tr>
                <td>Coordinates</td>
                <td>{{result[3]}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{result[2]}}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{result[5]}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{result[6]}}</td>
            </tr>
            <tr>
                <td>Found</td>
                <td>
                    <form id = "form" action="{{ url_for('chests') }}" method="POST" enctype="multipart/form-data">
                        <label>
                            {% if result[1]== "FALSE" %}
                                <input type="checkbox" id="found_chest"  name="found_chest_no" value="FALSE" unchecked>
                                {{"Not Found"}}
                            {% else %} 
                                <input type="checkbox" id="found_chest" name="found_chest_yes" value="TRUE" checked>
                                {{"Found!"}}
                            {% endif %}
                        </label>
                        <input type="submit" id="addItemSubmit" value="Update">
                    </form>
                    </td>
            </tr>
        </tbody>
            </table>
        <!-- <p>Name: {{result["char_name"]}}</p>
        <p>Type: {{result["char_type"]}}</p>
        <p>Health: {{result["char_health"]}}</p>
        <p>Attack: {{result["char_attack"]}}</p>
        <p>Defense: {{result["char_Defense"]}}</p>
        <p>Magic: {{result["char_magic"]}}</p> -->
        <br>
    </div>

{% endfor %}
    
{% endblock %}