{% extends "layout.html" %}

{% block body %} 

    <!-- Add a table to display the completion status for each region -->
    <table style="width: 100%;">
        <tr>
            <th id="Shrine_percent_table">Region</th>
            <th id="Shrine_percent_table">Completed</th>
            <th id="Shrine_percent_table">Tapped</th>
            <th id="Shrine_percent_table">Unfound</th>
        </tr>
        <!--  -->

    </table>

    <form id="regionFilterForm" onsubmit="return filterByRegion()">
        <label for="regionFilter">Filter by Region:</label>
        <select id="regionFilter" name="regionFilter">
            <option value="">All Regions</option>
            {% for region in regions %}
                <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
    </form>

    <form id="shrineform" action="{{ url_for('shrines') }}" method="POST" enctype="multipart/form-data">
        {% for result in results %}
        <div class="row">
            <table style="width: 100%;">
                <colgroup>
                    <col span="1">
                    <col span="2">
                </colgroup>
                
                
                    <tbody>
                        <tr>
                            <th>Info</th>
                            <th>Shrine Info</th>
                        </tr>
                        <tr>
                            <td>Shrine</td>
                            <td>{{result[2]}}</td>
                        </tr>
                        <tr id="shrine_name" class="shrine_{{result[0]}} hidden_display">
                            <td>Name</td>
                            <td>{{result[3]}}</td>
                        </tr>
                        <tr id="shrine_location" class="shrine_{{result[0]}} hidden_display">
                            <td>Location</td>
                            <td>{{result[4]}}</td>
                        </tr>
                        <tr id="shrine_region" class="shrine_{{result[0]}} hidden_display">
                            <td>Region</td>
                            <td>{{result[5]}}</td>
                        </tr>
                        <tr id="shrine_coord" class="shrine_{{result[0]}} hidden_display">
                            <td>Coordinates</td>
                            <td>{{result[6]}}</td>
                        </tr>
                        <tr id="shrine_rewards" class="shrine_{{result[0]}} hidden_display">
                            <td>Rewards</td>
                            <td>{{result[8]}}</td>
                        </tr>
                        {% if result[9] != None %}
                        <tr id="shrine_enemies" class="shrine_{{result[0]}} hidden_display">
                            <td>Enemies</td>
                            <td>{{result[9]}}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                        {% if result[7] != None %}
                        <tr id="shrine_side" class="shrine_{{result[0]}} hidden_display">
                            <td>Side Quest</td>
                            <td>{{result[7]}}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                        <tr>
                            <td colspan="3">
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <label class="shrine_radio_labels" for="undone_{{ result[0] }}"><input class="shrine_radio" type="radio" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}>Unfound</label>
                                <label class="shrine_radio_labels" for="tapped_{{ result[0] }}"><input class="shrine_radio" type="radio" id="tapped_{{ result[0] }}"name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}>Tapped</label>
                                <label class="shrine_radio_labels" for="done_{{ result[0] }}"><input class="shrine_radio" type="radio" id="done_{{ result[0] }}"name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}>Done</label>
                            </td>
                        </tr>
                    

                </tbody>
            </table>
        </div>
        {% endfor %}
    </form>
    <script src="{{ url_for('static', filename='shrines.js') }}"></script>
{% endblock %}
