{% extends "layout.html" %}

{% block body %} 
<div id="shrines-counter">
    <p>Completed: {{completed_shrines}}</p>
    <p>Tapped {{tapped_shrines}}</p>
    <p>Undiscovered: {{undone_shrines}}</p>
</div>
    <!-- Add a table to display the completion status for each region -->
    
<!-- Index or navigation section -->
<div id="shrine-index">
    <a href="#letter-a" class="shrine-index-link">A</a>
    <a href="#letter-b" class="shrine-index-link">B</a>
    <a href="#letter-c" class="shrine-index-link">C</a>
    <a href="#letter-d" class="shrine-index-link">D</a>
    <a href="#letter-e" class="shrine-index-link">E</a>
    <a href="#letter-g" class="shrine-index-link">G</a>
    <a href="#letter-i" class="shrine-index-link">I</a>
    <a href="#letter-j" class="shrine-index-link">J</a>
    <a href="#letter-k" class="shrine-index-link">K</a>
    <a href="#letter-m" class="shrine-index-link">M</a>
    <a href="#letter-n" class="shrine-index-link">N</a>
    <a href="#letter-o" class="shrine-index-link">O</a>
    <a href="#letter-p" class="shrine-index-link">P</a>
    <a href="#letter-r" class="shrine-index-link">R</a>
    <a href="#letter-s" class="shrine-index-link">S</a>
    <a href="#letter-t" class="shrine-index-link">T</a>
    <a href="#letter-u" class="shrine-index-link">U</a>
    <a href="#letter-w" class="shrine-index-link">W</a>
    <a href="#letter-y" class="shrine-index-link">Y</a>
    <a href="#letter-z" class="shrine-index-link">Z</a>
</div>

    <form id="shrineform" action="{{ url_for('shrines') }}" method="POST" enctype="multipart/form-data">
        {% for result in results %}
        <div class="row">
            <table style="width: 100%;">
                <colgroup>
                    <col span="1">
                    <col span="2">
                </colgroup>
                
                
                    <tbody>
                        <tr>
                            <th id="shrine_th_1">Info</th>
                            <th>Shrine Info</th>
                        </tr>
                        <tr>
                            <td>Shrine</td>
                            <td id="{{result[2]}}">{{result[2]}}</td>
                        </tr>
                        <tr id="shrine_name" class="shrine_{{result[0]}} hidden_display">
                            <td>Name</td>
                            <td>{{result[3]}}</td>
                        </tr>
                        <tr id="shrine_location" class="shrine_{{result[0]}} hidden_display">
                            <td>Location</td>
                            <td>{{result[4]}}</td>
                        </tr>
                        <tr id="shrine_region" class="shrine_{{result[0]}} hidden_display">
                            <td>Region</td>
                            <td>{{result[5]}}</td>
                        </tr>
                        <tr id="shrine_coord" class="shrine_{{result[0]}} hidden_display">
                            <td>Coordinates</td>
                            <td>{{result[6]}}</td>
                        </tr>
                        <tr id="shrine_rewards" class="shrine_{{result[0]}} hidden_display">
                            <td>Rewards</td>
                            <td>{{result[8]}}</td>
                        </tr>
                        {% if result[9] != None %}
                        <tr id="shrine_enemies" class="shrine_{{result[0]}} hidden_display">
                            <td>Enemies</td>
                            <td>{{result[9]}}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                        {% if result[7] != None %}
                        <tr id="shrine_side" class="shrine_{{result[0]}} hidden_display">
                            <td>Side Quest</td>
                            <td><a href="shrinequests#{{ result[7]|replace(' ', '') }}">{{result[7]}}</a></td>
                        </tr>
                        {% else %}
                        {% endif %}
                        <tr>
                            <td colspan="2">
                                <input type="hidden" id="scroll_position" name="scroll_position" value="{{ scroll_position }}">
                                <label class="shrine_radio_labels" for="undone_{{ result[0] }}"><input class="shrine_radio" type="radio" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}>Unfound</label>
                                <label class="shrine_radio_labels" for="tapped_{{ result[0] }}"><input class="shrine_radio" type="radio" id="tapped_{{ result[0] }}"name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}>Tapped</label>
                                <label class="shrine_radio_labels" for="done_{{ result[0] }}"><input class="shrine_radio" type="radio" id="done_{{ result[0] }}"name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}>Done</label>
                            </td>
                            
                        </tr>
                        <a href="#top" id="return-to-top">Return to Top</a>
                    </tbody>
            </table>
        </div>
        {% endfor %}
    </form>
    <script src="{{ url_for('static', filename='shrines.js') }}"></script>
{% endblock %}
