{% extends "layout.html" %}

{% block body %} 
<!-- Add a table to display the completion status for each region -->
<table style="width: 100%;">
    <tr>
        <th>Region</th>
        <th>Completed</th>
        <th>Tapped</th>
        <th>Unfound</th>
    </tr>
    {% for region in regions %}
    <tr>
        <td>{{ region }}</td>
        <td>{{ region_status[region]['completed'] }} of {{ region_status[region]['total_shrines'] }}</td>
        <td>{{ region_status[region]['tapped'] }} of {{ region_status[region]['total_shrines'] }}</td>
        <td>{{ region_status[region]['unfound'] }} of {{ region_status[region]['total_shrines'] }}</td>
    </tr>
    {% endfor %}
</table>

<form id="regionFilterForm" onsubmit="return filterByRegion()">
    <label for="regionFilter">Filter by Region:</label>
    <select id="regionFilter" name="regionFilter">
        <option value="">All Regions</option>
        {% for region in regions %}
            <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>
<form id = "form" action="{{ url_for('sidequests') }}" method="POST" enctype="multipart/form-data">
{% for result in results %}
{% if result[11] == 1 %}
    <div class="row">
        <table  style="width: 100%;">
            <colgroup>
                <col span="1" style="width: 30%;">
                <col span="2" style="width: 70%;">
             </colgroup>
            <tbody>
            <tr>
                <th id="th_1">Stat</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{result[3]}}</td>
            </tr>
            {% if result[1] == 1 %}
            {% if result[6] != None %}
            <tr>
                <td>Coordinates</td>
                <td>{{result[6]}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Contact</td>
                <td>{{result[4]}}</td>
            </tr>
            {% if result[7] != None %}
            <tr>
                <td>Location</td>
                <td>{{result[7]}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Region</td>
                <td>{{result[8]}}</td>
            </tr>
            {% if result[5] != None %}
            <tr>
                <td>Description</td>
                <td>{{result[5]}}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% if result[1] == 2 %}
            {% if result[6] != None %}
            <tr>
                <td>Coordinates</td>
                <td>{{result[6]}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Contact</td>
                <td>{{result[4]}}</td>
            </tr>
            {% if result[7] != None %}
            <tr>
                <td>Location</td>
                <td>{{result[7]}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Region</td>
                <td>{{result[8]}}</td>
            </tr>
            {% if result[5] != None %}
            <tr>
                <td>Description</td>
                <td>{{result[5]}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Rewards</td>
                {% if result[3] == "Where Are the Wells?" %}
                <td>{{ result[9] }} <br>Wells Discovered: {{completed_wells}}</td>
                {% else %}
                <td>{{result[9]}}</td>
                {% endif %}
            </tr>
            {% endif %}
            <tr>
                <td>Status</td>
                <td>
                    <input type="radio" class="main_radio" id="undone_{{ result[0] }}" name="done_{{ result[0] }}" value="0" {% if result[1] == 0 %}checked{% endif %}><label class="sidequ_radio_labels" for="undone_{{ result[0] }}">Unfound</label>
                    <input type="radio" class="main_radio" id="started_{{ result[0] }}" name="done_{{ result[0] }}" value="1" {% if result[1] == 1 %}checked{% endif %}><label class="sidequ_radio_labels" for="started_{{ result[0] }}">Started</label>
                    <input type="radio" class="main_radio" id="done_{{ result[0] }}" name="done_{{ result[0] }}" value="2" {% if result[1] == 2 %}checked{% endif %}><label class="sidequ_radio_labels" for="done_{{ result[0] }}">Done</label>
                </td>
            </tr>
            {% for sub in subqus %}
                {% if sub[2] == result[0] %}
                <table class="subquests">
                    <tr id="subquests" class="subquest_{{sub[2]}} hidden_display">
                        <th id="sub_1" class="main_secondary">Info</th>
                        <th id="sub_2" class="main_secondary">Sub Quest</th>
                    </tr>
                    <tr id="subquests" class="subquest_{{sub[2]}} hidden_display">
                        <td><input class="main_checkbox main_check_{{sub[0]}}" id="quest_{{sub[3]}}" type="checkbox" name="secondary_{{ sub[0] }}" value='{{sub[0] }}' {% if sub[1] == 1 %} checked{% endif %}></td>
                        <td>{{sub[3]}}</td>
                    </tr>
                </table>
                {% endif %}
            {% endfor %}
            <table class="subquests">
            {% for two in tier_two %}
                {% if two[13] == result[3] %}
                    <tr id="secondquests" class="tiertwo_{{result[0]}} hidden_display">
                        <th id="sub_1" class="main_secondary">Info</th>
                        <th id="sub_2" class="main_secondary">Sub Quest</th>
                    </tr>
                    <tr id="secondquests" class="tiertwo_{{result[0]}} hidden_display">
                        <td>{{two[3]}}</td>
                    </tr>
                    <tr id="secondquests" class="tiertwo_{{result[0]}} hidden_display">
                        <td>
                            <input type="radio" class="quest_{{two[3]}} two_radio" id="undone_{{ two[0] }}" name="secondary_{{ two[0] }}" value="0" {% if two[1] == 0 %}checked{% endif %}><label class="sidequ_radio_labels" for="undone_{{ two[0] }}">Unfound</label>
                            <input type="radio" class="quest_{{two[3]}} two_radio" id="started_{{ two[0] }}" name="secondary_{{ two[0] }}" value="1" {% if two[1] == 1 %}checked{% endif %}><label class="sidequ_radio_labels" for="started_{{ two[0] }}">Started</label>
                            <input type="radio" class="quest_{{two[3]}} two_radio" id="done_{{ two[0] }}" name="secondary_{{ two[0] }}" value="2" {% if two[1] == 2 %}checked{% endif %}><label class="sidequ_radio_labels" for="done_{{ two[0] }}">Done</label>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </tbody>
            </table>
    </div>

{% endif %}
{% endfor %}
</form>

<script src="{{ url_for('static', filename='sidequests.js') }}"></script>
{% endblock %}