{% extends "layout.html" %}

{% block body %} 

<div class="content-container">
    <form action="{{ url_for('tower') }}" method="POST" enctype="multipart/form-data">
        <input type="submit" id="towerSubmit" value="Update">
        <h1>towers</h1>
        <div class="item-container tower_container">
            {% for tower in towers %}
                <div class="tower-col-7">
                    <table class="tower_table">
                        <tr>
                            <th id="tower_th_1">Info</th>
                            <th id="tower_th_2">tower Info</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{tower[2]}}</td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>{{tower[3]}}</td>
                        </tr>
                        <tr>
                            <td>Coordinates</td>
                            <td>{{tower[4]}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="tower_checkbox">
                                {% if tower[1] == 0 %}
                                    <input type="checkbox" class="tower_checkbox" id="done_{{ tower[0] }}" name="done_tower_{{ tower[0] }}" value="0" unchecked>
                                {% elif tower[1] == 1 %}
                                    <input type="checkbox" class="tower_checkbox" id="done_{{ tower[0] }}" name="done_tower_{{ tower[0] }}" value="1" checked>
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>                    
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
